/* css */

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: unset;
}

main {
    padding-top: 5rem;
    background-color: rgb(0, 2, 0);
}

hr {
    margin: unset;
}

/* ini  bagian navigasi */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #15533a;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding-right: 25px;
    padding-left: 0px;
    
}

nav ul li a {
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
    padding: 8px 0px;
    transition: all;
    transition-duration: 300ms;
}

nav ul li a:hover {
    color: #e1d151;
}

#changeName:hover {
    background-color: #249467; 
}

#changeName {
    width: 110px;
    height: 40px;
    font-weight: bold;
    background-color: #22845d;
    color : #ffffff;
    cursor: pointer;
    border-radius: 10%;
    transition: all;
    transition-duration: 300ms;
}
/* menu versi mobile */
.menu-icon {
    
    font-size: 28px;
    display: none;
}

/* ini logo navigasi */
.logo-icon {
    height: 60px;
    width: 60px;
    margin: 10px;
    margin-left: 15px;  
    
    background-image: url(../asset/logo2.jpg);
    border: 1px solid black;
    background-size: cover;
    border-radius: 50%;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;

}

/* bagian banner */
.banner-container {
    width: 100%;
    height: 65vh;
}

.banner {
    width: 100%;
    height: 65vh;
    background-image: url(../asset/banner.jpg);
    background-size: cover;
    background-position: 69%;
    
}

.banner-text {
    padding-top: 130px;
    text-align: center;
}

.banner-text h2 {
    letter-spacing: normal;
    font-weight: bold;
    font-size: 25px;
    color: white;
    
}

.banner-text h1 {
    margin-left: 5px;
    font-size: 50;
    color: white;
}

/* bagian portofolio */
.folio-container {
    width: 100%;
    height: 75vh;
    background-image: url(../asset/banner4.jpg);
    background-size: cover;
    background-position: 69%;
}

.posisi-gambar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-gambar {
    height: 400px;
    width: 750px;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0,0,0,0,4);
}
.set-gambar .gambar-folio {
    height: 100%;
    width: 100%;
}

.gambar-folio img {
    height: 100%;
    width: 100%;

}

.text-folio {
    text-align: center;
}

.text-folio h2 {
    letter-spacing: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgb(224, 216, 216);
    margin-bottom: unset;
    padding-top: 20px;
}

.text-folio h1 {
    margin-left: 5px;
    font-size: 15px;
    color: white;
}

/* bagian my Contact */
#my-contact {
    width: 100%;
    height: 300px;
    background-color: white;
    background-image: url(../asset/banner5.jpg);
    background-size: cover;
    background-position: 69%;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 490px; */
}

.profile-item {
    text-align: center;
    flex: 2;
    text-align: -webkit-center;
}

.profile-icon {
    height: 150px;
    width: 150px;
    border: 1px solid;

    /* for image icon */
    background-size: cover;
    border-radius: 50%;
}

.text-profil {
    color: white;
}

.font-profil {
    text-align: center;
}

.font-profil h2 {
    letter-spacing: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgb(224, 216, 216);
    margin-bottom: unset;
    padding-top: 20px;
}

.font-profil h1 {
    margin-left: 5px;
    font-size: 15px;
    color: white;
}

.profile-1 {
    background-image: url(../asset/1.jpg);
}

.profile-2 {
    background-image: url(../asset/2.png);
}

.profile-3 {
    background-image: url(../asset/3.png);
}

/* .divider {
    flex: 2;
} */

/* bagian form */
#message-us {
    width: 100%;
    height: 400px;
    background-color: white;
    background-image: url(../asset/banner6.jpg);
    background-size: cover;
    background-position: 69%;
}

.form-awal {
    display: flex;
    justify-content: space-evenly;
}

.bentuk {
    border: 1px solid;
    height: 300px;
    width: 480px;
    padding: 5px;
    align-content: center;
    border-radius: 5%;
    background-color: wheat;
}

.pesan-form {
    padding-left: 20px;
}

.pesan-form h2{
    letter-spacing: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgb(224, 216, 216);
    margin-bottom: unset;
    padding-top: 20px;
}

.ab {
    align-content: flex-start;
}

.hasil-form {
    border: 1px solid;
    height: 300px;
    width: 480px;
    padding: 5px;
    align-content: center;
    border-radius: 10%;
    background-color: wheat;
}

.tombol {
    width: 100%;
    height: 20px;
    font-weight: bold;
    background-color: #22845d;
    color : #ffffff;
    cursor: pointer;
    border-radius: 10%;
    transition: all;
    transition-duration: 300ms;

}

/* bagian responsive */
@media screen and (max-width: 768px) {
    .nav-container  {
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin-top: 0px;
    }

    nav ul.hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
        padding-right: 10px;
        
    }

    .folio-container {
        height: 90vh;
    }

    #my-contact {
        height: 600px;
    }

    .profile-content {
        flex-direction: column;
        padding-left: unset;
    }

    .profile-icon {
        height: 125px;
        width: 125px;
        border: 1px solid;
    
        /* for image icon */
        background-size: cover;
        border-radius: 50%;
    }

    #message-us {
        height: 800px;
    }

    .form-awal {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 35px;
    }

    .bentuk {
        margin-bottom: 50px;
    }
}
