/* css */

main {
    padding: 32px;
    padding-top: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 32px; */
}

.logo-icon {
    height: 50px;
    width: 50px;

    background-image: url(https://picsum.photos/200);
    background-size: cover;
    border-radius: 50%;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

.banner-container {
    height: 400px;
    width: 100%;
    /* border: 1px solid; */
    background-image: url(../asset/3.png);
    
    background-image: url(../asset/1.png);

    background-image: url(https://picsum.photos/200);
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    text-align: center;
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon {
    height: 150px;
    width: 150px;
    border: 1px solid;

    /* for image icon */
    background-size: cover;
    border-radius: 50%;
}

.profile-1 {
    background-image: url(../asset/1.png);
}

.profile-2 {
    background-image: url(../asset/2.png);
}

.profile-3 {
    background-image: url(../asset/3.png);
}

.divider {
    flex: 2;
}

.form-awal {
    display: flex;
    justify-content: space-evenly;

}

.ab {
    align-content: flex-start;
}

.hasil-form {
    border: 1px solid;
    width: 450px;
    padding: 5px;
    align-content: center;
}

@media screen and (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        
    }

    .profile-content {
        flex-direction: column;
    }

    .profile-icon {
        height: 125px;
        width: 125px;
        border: 1px solid;
    
        /* for image icon */
        background-size: cover;
        border-radius: 50%;
    }

    
    .form-awal {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
